.env

config/postgresql/client.crt
config/postgresql/client.key
config/postgresql/root.crt

config/spreadsheet/creds.json

# デフォルト項目
/.bundle
vendor/

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/config/master.key
